services:
  db:
    image: mysql:8.0
    container_name: alxtravel-mysql-0x00
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - at_db_data_0x00:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: alxtravel-rabbitmq-0x00
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - at_rabbitmq_data_0x00:/var/lib/rabbitmq

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alxtravel-web-0x00
    command: >
      sh -c "uv run manage.py migrate --noinput &&
             uv run manage.py collectstatic --noinput &&
             uv run gunicorn alx_travel_app.wsgi:application --bind 0.0.0.0:8000"
    expose:
      - "8000"
    env_file:
      - .env
    volumes:
      - ./alx_travel_app:/app/alx_travel_app
      - ./manage.py:/app/manage.py
      - at_static_volume_0x00:/usr/src/app/staticfiles
      - at_media_volume_0x00:/usr/src/app/mediafiles
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    develop:
      # Create a `watch` configuration to update the app
      #
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /app
          # Exclude the project virtual environment
          ignore:
            - .venv/

        # Rebuild the image on changes to the `pyproject.toml`
        - action: rebuild
          path: ./pyproject.toml
    
  nginx:
    build: ./nginx
    volumes:
      - at_static_volume_0x00:/usr/src/app/staticfiles
      - at_media_volume_0x00:/usr/src/app/mediafiles
    ports:
      - "8080:8000"   # guest:host
    depends_on:
      - web

volumes:
  at_db_data_0x00:
  at_rabbitmq_data_0x00:
  at_static_volume_0x00:
  at_media_volume_0x00:
